/* NAVBAR */

main {
    margin-top: -70px;
}

.navbar-brand img{
    width: 280px;
}

.navbar-custom{
    background-color: transparent;
    z-index: 1000;
}

.ul-custom{
    justify-content: space-evenly;
    width: 100%;
}


/* FIN NAVBAR */

/* CAROUSEL */

#myCarousel .carousel-item{
    z-index: -1000;
    height: 100vh;
}

#myCarousel li{
    list-style-type: none;
    text-align: right;
    margin: 15px 0px;
}

#myCarousel i{
    font-size: 1.5em;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  @media (max-width: 480px) {
    main {
        margin-top: 0px;
    }
    
    .nav-link{
        color: #333 !important;
    }
  }

/* FIN CARRUSEL */

/* INICIO HOME */
.inicio{
    margin-top: 50px;
    margin-bottom: 50px;
}

.subtitulo{
    color: rgba(22, 29, 38, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.buttons{
    padding-left: 0;
    align-items: flex-start;
}

#btnProyecto{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: #D33838;
    border-radius: 5px;
    box-shadow: 0px 5.21429px 13.0357px rgba(211, 51, 131, 0.4);
    margin-right: 20px;
}
  #btnProyecto:hover {
    transform: scale(1.1);
  }


#btnWhat{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #D33838;
    background-color:white;
    border-radius: 5px;
    border-width: 3px;
    border-color: #D33838;
    box-shadow: 0px 5.21429px 13.0357px rgba(211, 51, 131, 0.4);
}
#btnWhat:hover{
    transform: scale(1.1);
}

.bienvenidosFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.H1{
    color:rgba(22, 29, 38, 0.21);
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 90px;
    margin-bottom: -10px;
}

.H2{
    color:#D33838;;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 45px;
    margin-top: -35px;
}

.parrafoFlex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 30px;
}

.parrafoInicio{
    color:black;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.logoicono{
    height: 200px;
    margin-top: 30px;
}

/* FIN HOME */

/* INICIO SERVICIOS */
.letra{
    color:#D33838;
    font-family: 'Roboto', sans-serif;
    font-size: 120px;
    font-weight: 600;
}

.H3{
    color:#D33838;;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0;
}

.parrafoServicio{
    color: rgba(22, 29, 38, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0;
}

.containerParrafo{
    height: fit-content;
}

.containerLetra{
    margin-top: -20px;

}

.tituloContacto{
    color: rgba(0, 0, 0, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 55px;
    margin-top: 50px;
}

/* FIN SERVICIOS */

.portfolioDetail{
    margin-top: 35px;
}

.portfolioDetail h4{
    font-size: 16px;
}

.portfolioFix{
    margin-top: 55px;
}

.portfolioHalfFix{
    margin-top: 22px;
}

.portfolioFixImg{
    margin-top: 200px;
}