body{
    scroll-behavior: smooth;
}

/* NAVBAR */

main {
    margin-top: -100px;
}

.navbar-brand img{
    width: 320px;
}

.colorNav{
    background-color: white;
    border-bottom: 1px solid #999;
}

.navbar-custom{
    background-color: transparent;
    z-index: 1000;
    margin-top: 15px;
}

.nav-link{
    color: #999 !important;
}

.nav-link:hover{
    color: #878787 !important;
}

.ul-custom{
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}


/* FIN NAVBAR */

/* CAROUSEL */
.textoCarrusel{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 25px;
}

#myCarousel .carousel-item{
    z-index: -1000;
    height: 100vh;
}

#myCarousel li{
    list-style-type: none;
    text-align: right;
    margin: 15px 0px;
}

#myCarousel i{
    font-size: 1.5em;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
.nav-item .nav-link{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.carousel-indicators [data-bs-target]{
    background-color: #999;
}

.invertirText{
    color: #333;
}

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }


/* FIN CARRUSEL */

/* INICIO HOME */
.inicio{
    margin-top: 50px;
    margin-bottom: 50px;
}

.subtitulo{
    color: #141418;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.buttons{
    padding-left: 0;
    align-items: flex-start;
}

#btnProyecto{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: #D33838;
    border-radius: 5px;
    box-shadow: 0px 5.21429px 13.0357px rgba(211, 51, 131, 0.4);
    margin-right: 20px;
}
  #btnProyecto:hover {
    transform: scale(1.1);
  }


#btnWhat{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #D33838;
    background-color:white;
    border-radius: 5px;
    border-width: 3px;
    border-color: #D33838;
    box-shadow: 0px 5.21429px 13.0357px rgba(211, 51, 131, 0.4);
}
#btnWhat:hover{
    transform: scale(1.1);
}
.Bienvenido{
    margin-top: 150px;
}
.bienvenidosFlex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.H1{
    color:rgba(22, 29, 38, 0.21);
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 90px;
    margin-bottom: -10px;
}

.H2{
    color:#D33838;;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 45px;
    margin-top: -35px;
}

.parrafoFlex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    margin-top: 30px;
}

.parrafoInicio{
    color:#141418;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.logoicono1{
    height: 200px;
    margin-top: 30px;
}

/* FIN HOME */

/* INICIO SERVICIOS */
.letra{
    color:#D33838;
    font-family: 'Roboto', sans-serif;
    font-size: 120px;
    font-weight: 600;
}

.H3{
    color:#D33838;;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0;
}

.parrafoServicio{
    color: #141418;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0;
}

.containerParrafo{
    height: fit-content;
}

.containerLetra{
    margin-top: -20px;
}

.tituloContacto{
    color: #141418;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 55px;
    margin-top: 50px;
}

/* FIN SERVICIOS */

/* INICIO PORFOLIO */
.portfolio{
    margin-top: 150px;
}
.portfolioDetail{
    margin-top: 35px;
}

.portfolioDetail h4{
    font-size: 16px;
}

.portfolioFix{
    margin-top: 55px;
}

.portfolioHalfFix{
    margin-top: 22px;
}

.portfolioFixImg{
    margin-top: 200px;
}
/* FIN PORFOLIO */

/* INICIO FORMULARIO */
.form{
    display: flex;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180.04deg, rgba(135, 135, 135, 0.01) -18.46%, #878787 16.7%);
    padding: 60px;
}
.subtituloForm{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #141418;
}

.logoicono2{
    height: 150px;
}

.formtext {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
  
}
.form-floating{
    padding-left: 0;
}
.containerBoton{
    display: flex;
    justify-content: end;
}
.formboton {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-color: #D33838;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 40px rgba(211, 131, 131, 0.42) }
    .formboton:hover {
        transform: scale(1.1);
    }

/* FOOTER */

footer{
    background-color: black;
    padding: 25px;
}

footer i{
    margin: 0 5px;
}

footer h5{
    margin-top: 20px;
    color: white;
}

.logoiconoFooter{
    margin-top: 20px;
    width: 160px;
}

/* MEDIA QUERIES */

@media (max-width: 480px) {

    .navbar-brand img{
        width: 260px;
    }

    .navbar-dark .navbar-toggler {
        color: rgba(0,0,0,.55);
        border-color: rgba(0,0,0,.5);
    }

    .colorNav{
        border: none;
    }

    .navbar-custom{
        margin-top: 0px;
    }

    .icon-bar{
        background-color: #000;
        width: 20px;
        height: 2px;
        display: block;
        margin: 5px;
	}

    #myCarousel{
        z-index: 0;
    }

    main {
        margin-top: 0px;
    }
    
    .carousel-item{
        height: 34vh !important;
    }
    
    .nav-link{
        color: #333 !important;
    }

    .textoCarrusel{
        position: absolute;
        font-size: 14px;
        bottom: 5px;
    }
    
    .parrafoInicio{
        margin-top: -40px;
        font-size: 15px;
        margin-bottom: 20px;
    }

    .parrafoFlex{
        margin-top: 50px;
        margin-bottom: 50px;
        align-items:stretch;
    }

    .H1{
        font-size: 42px;
    }

    .H2{
        font-size: 26px;
        margin-top: -12px;
    }

    .itemMobile{
        margin-bottom: 15px;
    }

    .subtitulo{
        font-size: 18px
    }
    
    .btn{
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .Bienvenido{
        margin-top: 50px;
    }

    .logoicono1{
        height: 100px;
    }

    .H3{
        font-size: 20px;
    }
    .containerLetra{
        margin-top: 0;
    }

    .letra{
        font-size: 80px;
    }

    .parrafoServicio{
        font-size: 14px;
    }

    .containerServicio{
        align-items: center;
        margin-bottom: 20px;
    }

    .portfolio{
        margin-top: 50px;
    }

    .form{
        margin-top: 30px;
        padding: 12px;
    }

    .logoicono2{
        height:50px;
    }

    .subtituloForm{
        font-size: 14px;
    }

    .containerForm{
        padding-left: 0;
    }

    .formtext{
        font-size: 12px;
    }
  }
